# Pandas tables

In [1]:
import pandas as pd
pd.DataFrame(5, columns=list('ABC'), index=range(3))

   A  B  C
0  5  5  5
1  5  5  5
2  5  5  5

# Displaying tables

In [2]:
from IPython.core.display import display
for i in range(3):
    display(pd.DataFrame(i, columns=list('ABC'), index=range(i+1)))

   A  B  C
0  0  0  0

   A  B  C
0  1  1  1
1  1  1  1

   A  B  C
0  2  2  2
1  2  2  2
2  2  2  2